.catalog {
  @include container();
  margin-top: 30px;
}

@media (min-width: $tablet-widths) {
  .catalog {
    margin-top: 68px;
  }
}

@media (min-width: $desktop-widths) {

  .catalog {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }

}
