.catalog-item {
  margin-bottom: 30px;
  border: 1px solid $gray;

  cursor: pointer;
}

.catalog-item__link-wrapper {
  text-decoration: none;
}

.catalog-item__img {
  order: 10;
}

.catalog-item__desc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  min-height: 129px;
  padding: 23px 27px 20px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog-item__title {
  display: block;
  width: 100%;
  margin-bottom: 4px;

  color: $black;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-item__details {
  display: block;
  width: 100%;
  margin-bottom: 41px;

  color: $gray--dark;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

.catalog-item__order {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.catalog-item__price {
  display: block;

  color: $black;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-item__add {
  position: relative;

  display: block;

  font-size: 0;
}

.catalog-item__cart {
  position: relative;
  bottom: 3px;

  opacity: 0.3;

  &:hover {
    fill: $color-main;
    opacity: 1;
  }

  &:active {
    fill: $color-main;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-widths) {
  .catalog-item {
    display: flex;
    min-height: 334px;
    margin-bottom: 49px;
  }

  .catalog-item__desc {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-grow: 1;
    margin: 0;
    padding: 23px 26px 26px;

    &:hover {
      box-shadow: 6px 0 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
    }
  }

  .catalog-item__title {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-item__details {
    margin-bottom: auto;

    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
  }

  .catalog-item__order {
    position: relative;
    align-items: flex-end;
    padding: 0 5px 5px;

    height: 55px;

    &--devider::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 1px;

      display: block;
      content: "";
      background-color: #ececec;
    }
  }

  .catalog-item__price {
    font-size: 17px;
    line-height: 24px;
  }

  .catalog-item__img {
    width: 333px;
  }
}

@media (min-width: $desktop-widths) {
  .catalog-item {
    width: 316px;
    flex-direction: column;
  }

  .catalog-item__desc {
    height: 197px;
    padding: 18px 26px 26px;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .catalog-item__img {
    width: 315px;
    height: 464px;
  }

  .catalog-item__order {
    padding: 0;
    padding-bottom: 10px;
  }
}
