.categories {
  min-width: 320px;

  font-size: 19px;
  font-weight: 700;
}

.categories__title {
  font-size: 0;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  @include container();
  padding: 0;
}

.categories__item-wrapper {
  min-height: 103px;
}

.categories__item {
  position: relative;

  color: $white;

  &::after {
    position: absolute;
    top: 25%;
    right: 30px;

    display: table;

    opacity: 0.5;
    content: "";
    background-repeat: no-repeat;
  }

  &--interior::after {
    width: 40px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
  }

  &--toy::after {
    width: 60px;
    height: 60px;

    background-image: url("../img/icon-toy.svg");
  }
}

.categories__link {
  display: block;
  padding: 30px 130px 30px 30px;

  color: $white;
  text-decoration: none;
}

@media (min-width: $tablet-widths) {

  .categories__item-wrapper {
    width: 50%;

    &--light {
      background-color: $color-main;
    }

    &--dark {
      background-color: $color-main--darken;
    }
  }
}

