.categories {
  &__title {
    font-size: 0;
  }

  &__list {
    padding: 0;
    margin: 0;

    font-size: 19px;
    font-weight: 700;

    list-style-type: none;
  }

  &__item {
    position: relative;

    height: 103px;
    padding: 30px;

    color: $white;

    &--light {
      background-color: $color-main;
    }

    &--dark {
      background-color: $color-main--darken;
    }
  }

  &__item::after {
    position: absolute;
    top: 25%;
    right: 50px;

    display: table;

    opacity: 0.5;
    content: "";
    background-repeat: no-repeat;
  }

  &__item--interior::after {
    width: 40px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
  }

  &__item--toy::after {
    width: 60px;
    height: 60px;

    background-image: url("../img/icon-toy.svg");
  }
}
