.categories {
  min-width: 320px;
  margin-bottom: 22px;

  font-size: 19px;
  font-weight: 700;
}

.categories__title {
  font-size: 0;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;
  min-height: 211px;
  @include container();
  padding: 0;
}

.categories__item-wrapper {
  min-height: 103px;
  width: 100%;

  &--light {
    background-color: $color-main;
  }

  &--dark {
    background-color: $color-main--darken;
  }
}

.categories__item {
  position: relative;

  color: $white;

  &::after {
    position: absolute;

    display: table;

    opacity: 0.5;
    content: "";
    background-repeat: no-repeat;
  }

  &:hover {
    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &--interior:hover {
    padding-bottom: 5px;
  }

  &--toy:hover {
    padding-bottom: 5px;
  }

  &--interior::after {
    top: 25px;
    right: 37px;

    width: 40px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
  }

  &--toy::after {
    top: 27px;
    right: 27px;

    width: 60px;
    height: 60px;

    background-image: url("../img/icon-toy.svg");
  }
}

.categories__link {
  display: block;
  padding: 25px 130px 25px 30px;

  color: $white;
  text-decoration: none;
}

@media (min-width: $tablet-widths) {

  .categories {
    margin-bottom: 42px;
  }

  .categories__list {
    min-height: 122px;
    align-items: flex-end;
  }

  .categories__link {
    padding: 30px 130px 35px 35px;
  }

  .categories__item {
    &--toy::after {
      top: 31px;
      right: 34px;
    }
  }

  .categories__item-wrapper {
    width: 50%;
  }
}

@media (min-width: $desktop-widths) {

  .categories {
    margin-bottom: 59px;
  }
}
