.checkboxes {
  position: relative;

  @include container-narrow();
  margin-bottom: 41px;
}

.checkboxes__title {
  margin-bottom: 24px;
}

@media (min-width: $tablet-widths) {

  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    padding-left: 217px;
    padding-top: 50px;
    padding-bottom: 26px;
    padding-right: 30px;
    margin-bottom: 0;
  }

  .checkboxes__title {
    top: 67px;

    margin: 0;
  }

  .checkboxes__item {
    width: 50%;
    margin-top: 0;
    margin-bottom: 42px;
  }
}

@media (min-width: $desktop-widths) {

  .checkboxes {
    justify-content: flex-start;
    padding-left: 175px;
    padding-right: 50px;
  }

  .checkboxes__title {
    top: 68px;
    left: 59px;
  }

  .checkboxes__item {
    width: 32%;
  }
}
