.contacts {
  margin: 0 30px;

  &__title {
  }

  &__list {
    padding: 0;
    margin: 0;

    list-style-type: none;
  }

  &__item {
    margin: 40px 0;
  }

  &__item-name {
    display: inline-block;
    width: 120px;

    vertical-align: top;
  }

  &__item-value {
    display: inline-block;
  }

  &__map {
    margin: 0 -30px;
  }
}
