.copyright { //TODO strage crop on Mozilla and IE
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;

  color: $black;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
}

.copyright__link {
  width: 27px;
  height: 34px;
  margin-left: 30px;

  font-size: 0;

  background: url("../img/logo-htmlacademy.svg") 50% 50% no-repeat;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-widths) {
  .copyright {
    font-size: 19px;
    line-height: 27px;
  }
}
