.creation {
  @include container();

  margin-bottom: 60px;
}

.creation-wrapper {
  position: relative;
  border: 1px solid $gray;
}

.creation__title {
  padding-left: 60px;
  margin: 30px 30px 25px;
  color: $black;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.creation__title--icon::before {
  position: absolute;
  top: 36px;
  left: 35px;

  width: 32px;
  height: 27px;

  content: "";
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
}

.creation__video {
  margin-bottom: 30px;
}

.creation__desc {
  width: 183px;
  margin: 0 30px 25px;

  color: $gray--dark;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.creation__order {
  width: 192px;

  margin-bottom: 33px;
}
