.creation {
  @include container();

  margin-bottom: 60px;
}

.creation__wrapper {
  position: relative;
  border: 1px solid $gray;
}

.creation__title {
  padding-left: 60px;
  margin: 30px 30px 25px;
  color: $black;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.creation__title--icon::before {
  position: absolute;
  top: 36px;
  left: 35px;

  width: 32px;
  height: 27px;

  content: "";
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
}

.creation__video {
  margin-bottom: 30px;
}

.creation__text {
  width: 183px;
  margin: 0 30px 25px;

  color: $gray--dark;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.creation__order {
  width: 192px;

  margin-bottom: 33px;
}

@media (min-width: $tablet-widths) {

  .creation__wrapper {
    display: flex;
    flex-direction: column;
  }

  .creation__video {
    order: -1;
    width: 668px;
    height: 455px;

    background-color: #46c1ae;
  }

  .creation__title {
    padding-left: 95px;
    margin: 0;
    margin-bottom: 40px;

    &--icon::before {
      top: 480px;
    }
  }

  .creation__text {
    width: auto;
    margin-bottom: 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .creation__order {
    display: inline-block;
    width: auto;
    margin: 0 30px 45px;
  }
}

@media (min-width: $desktop-widths) {

  .creation__wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    height: 455px;
  }

  .creation__video {
    width: 682px;
    height: 455px;
    margin: 0;
  }

  .creation__title {
    width: 236px;
    padding-left: 0;
    margin: 100px 50px 40px 80px;
    margin-bottom: 40px;

    overflow: hidden;

    &--icon::before {
      top: 47px;
      left: 762px;
    }
  }

  .creation__text {
    width: 236px;
    margin: 0 50px 50px 80px;
    margin-bottom: 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .creation__order {
    display: inline-block;
    width: 230px;
    margin: 0 80px 45px;
  }
}
