.features {
  @include container-narrow();
  margin-bottom: 60px;
}

.features__title {
  margin: 0;

  @media (min-width: $tablet-widths) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-widths) {
    font-size: 53px;
    line-height: 57px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  list-style-type: none;

  @media (min-width: $tablet-widths) {
    flex-direction: row;
  }
}

.features__item {
  width: 255px;
  margin-top: 30px;
  padding-top: 50px;

  background-repeat: no-repeat;

  &--material {
    background-image: url("../img/icon-feature-1.svg");
  }

  &--handmade {
    background-image: url("../img/icon-feature-2.svg");
  }

  &--price {
    background-image: url("../img/icon-feature-3.svg");
  }

  &--support {
    background-image: url("../img/icon-feature-4.svg");
  }

  &--likes {
    background-image: url("../img/icon-feature-5.svg");
  }

  &--gift {
    background-image: url("../img/icon-feature-6.svg");
  }
}
