.features {
  @include container-narrow();
  margin-bottom: 25px;
}

.features__title {
  margin: 0;
  margin-bottom: 30px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  list-style-type: none;
}

.features__item {
  width: 255px;
  padding-top: 55px;
  padding-right: 50px;
  margin-bottom: 28px;

  background-repeat: no-repeat;

  &--material {
    padding-right: 60px;

    background-image: url("../img/icon-feature-1.svg");
    background-position: 8px 0px;
  }

  &--handmade {
    padding-right: 40px;

    background-image: url("../img/icon-feature-2.svg");
  }

  &--price {
    background-image: url("../img/icon-feature-3.svg");
  }

  &--support {
    padding-right: 0;

    background-image: url("../img/icon-feature-4.svg");
    background-position: 0px 5px;
  }

  &--likes {
    background-image: url("../img/icon-feature-5.svg");
    background-position: 7px 5px;
  }

  &--gift {
    background-image: url("../img/icon-feature-6.svg");
  }
}

@media (min-width: $tablet-widths) {

  .features {
    margin-bottom: 19px;
  }

  .features__title {
    margin-bottom: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  .features__list {
    font-size: 20px;
    line-height: 22px;
  }

  .features__item {
    width: 334px;
    padding-top: 50px;
    padding-right: 70px;
    margin-bottom: 63px;

    background-repeat: no-repeat;

    &--material {
      order: 0;

      padding-right: 110px;
    }

    &--handmade {
      order: 1;
    }

    &--price {
      order: 2;
    }

    &--support {
      order: 3;

      padding-right: 40px;
    }

    &--likes {
      order: 4;

      padding-right: 100px;
    }

    &--gift {
      order: 5;
    }
  }
}

@media (min-width: $desktop-widths) {

  .features {
    margin-bottom: 26px;
  }

  .features__title {
    font-size: 53px;
    line-height: 57px;
  }

  .features__item {
    width: 350px;
    padding-right: 110px;

    &--material {
      order: 0;

      padding-right: 120px;
    }

    &--handmade {
      order: 1;

      padding-right: 100px;
    }

    &--support {
      order: 3;

      padding-right: 40px;
    }
  }
}
