.form-email {
  position: relative;

  @include container-narrow();
  margin-bottom: 19px;
}

@media (min-width: $tablet-widths) {
  .form-email {
    padding-top: 7px;
    padding-left: 218px;
    padding-bottom: 60px;
    margin-bottom: 0;
  }

  .form-email__title {
    margin: 0;
  }
}
