.form-phone {
  position: relative;

  @include container-narrow();
  margin-bottom: 19px;
}

@media (min-width: $tablet-widths) {
  .form-phone {
    padding-top: 24px;
    padding-left: 218px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .form-phone__title {
    margin: 0;
  }
}
