.form-name {
  @include container-narrow();

  margin-bottom: 19px;
}

.form-name__title {
  margin-bottom: 30px;
}

@media (min-width: $tablet-widths) {
  .form-name {
    position: relative;

    padding-top: 52px;
    padding-left: 218px;
    padding-bottom: 1px;
  }

  .form-name__title {
    top: 67px;
    left: 51px;

    margin: 0;
  }
}

@media (min-width: $desktop-widths) {
  .form-name {
    padding-left: 177px;
  }

  .form-name__title {
    top: 66px;
    left: 60px;
  }
}
