.form-phone {
  position: relative;

  @include container-narrow();
  margin-bottom: 19px;
}

@media (min-width: $tablet-widths) {
  .form-phone {
    padding-top: 57px;
    padding-left: 218px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .form-phone__title {
    margin-top: 15px;
  }
}

@media (min-width: $desktop-widths) {
  .form-phone {
    padding-top: 56px;
    padding-left: 175px;
    padding-right: 175px;
  }
}
