.main-nav {
  @include container();
  display: flex;
  flex-wrap: wrap;

  color: $black;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.main-nav__item {
  height: 80px;
}

.main-nav__link {
  width: 100%;
  height: 80px;
  padding: 27px 0;
  border-top: 1px solid $gray;

  color: inherit;
  text-decoration: none;
}

.main-nav__toggler {
  width: 21px;
  height: 14px;
  padding: 0;
  border: 0;

  color: inherit;
  line-height: normal;
  font-size: 0;

  cursor: pointer;

  &--close {
    overflow: visible;
    background: url("../img/icon-menu-open.svg");
    background-position: center;
  }

  &--open {
    width: 21px;
    height: 21px;
    background: url("../img/icon-menu-close.svg");
  }
}

.tablet-nav {
  display: none;
  @include container();
}

.tablet-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tablet-nav__item {
  display: inline-block;
  margin-right: 30px;
}

.tablet-nav__delivery {
}

.tablet-nav__link {
  color: $black;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

@media (min-width: $tablet-widths) {

  .main-nav__item {
    height: 633px;
    padding: 142px 135px;
    font-size: 43px;
    line-height: 50px;
  }

  .tablet-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
  }
}

@media (min-width: $desktop-widths) {

  .main-nav__item {
    height: 633px;
    padding: 142px 300px;
    font-size: 53px;
    line-height: 57px;
  }
}
