.main-nav {
  min-height: 35px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-nav__navigation-list {
  width: 320px;
  padding: 0;
  margin: 0;
  margin-top: 27px;

  list-style-type: none;
  z-index: 1;

  &--close {
    display: none;
  }
}

.main-nav__user-panel-list {
  width: 320px;
  padding: 0;
  margin: 0;

  list-style-type: none;
  z-index: 1;

  &--close {
    display: none;
  }
}

.main-nav__navigation-item {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  background-color: $white;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.main-nav__user-panel-item {
  position: relative;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  background-color: $white;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.main-nav__navigation-link {
  width: 100%;
  min-height: 79px;
  display: inline-block;
  vertical-align: top;
  padding: 27px 0;
  padding-left: 75px;

  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__user-panel-icon {
  position: absolute;
  width: 20px;
  height: 20px;

  pointer-events: none;

  &--search {
    top: 30px;
    left: 30px;
  }

  &--cart {
    top: 30px;
    left: 30px;
  }
}

.main-nav__user-panel-link {
  width: 100%;
  min-height: 79px;
  display: inline-block;
  vertical-align: top;
  padding: 27px 0;
  padding-left: 75px;

  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__user-panel-link:hover > .main-nav__user-panel-icon {
  fill: $color-main;
}

.main-nav__toggler {
  width: 21px;
  height: 14px;
  padding: 0;
  border: 0;

  color: inherit;
  line-height: normal;
  font-size: 0;

  cursor: pointer;

  &--close {
    overflow: visible;
    background: url("../img/icon-menu-open.svg");
    background-position: center;
  }

  &--open {
    width: 21px;
    height: 21px;
    background: url("../img/icon-menu-close.svg");
  }

  &--hidden {
    display: none;
  }
}

@media (min-width: $tablet-widths) {
  .main-nav {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .main-nav__toggler {
    display: none;
  }

  .main-nav__navigation-list {
    display: block;
    position: static;
    order: 1;
    width: auto;
    margin: 0;
  }

  .main-nav__navigation-item {
    display: inline-block;
    vertical-align: top;
    margin-top: 18px;
    margin-right: 31px;

    font-size: 15px;

    box-shadow: none;
    background-color: transparent;
  }

  .main-nav__user-panel-list {
    display: block;
    position: static;
    width: auto;
  }

  .main-nav__user-panel-link {
    padding-top: 31px;
    padding-left: 83px;
    padding-bottom: 33px;

    &--search {
      width: 80px;

      font-size: 0;
    }
  }

  .main-nav__user-panel-item {
    display: inline-block;
    vertical-align: top;
    box-shadow: none;
    border-left: 1px solid $gray;

    background-color: transparent;
  }

  .main-nav__user-panel-icon {
    &--search {
      top: 36px;
      left: 34px;
    }

    &--cart {
      top: 35px;
      left: 31px;
    }
  }

  .main-nav__user-panel-item--search .main-nav__user-panel-link {
    min-height: 0;
    padding-left: 0;
  }

  .main-nav__navigation-link {
    min-height: auto;
    padding: 0;

    background-color: transparent;
  }
}

@media (min-width: $desktop-widths) {

  .main-nav__desktop-nav-list {
    display: block;
    padding: 0;
    margin: 0;

    list-style-type: none;
  }

  .main-nav__desktop-nav-item {
    display: inline-block;
    vertical-align: top;
    padding: 18px 0;
    margin-right: 58px;

    font-size: 15px;
    font-weight: 700;
    line-height: 24px;

    box-shadow: none;
    background-color: transparent;
  }

  .main-nav__desktop-nav-link {
    display: inline-block;
    vertical-align: top;

    color: inherit;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__navigation-list {
    order: -1;
  }

  .main-nav__navigation-item {
    margin: 0;
    margin-right: 66px;

    font-size: 17px;
    line-height: 24px;
  }

  .main-nav__navigation-link {
    padding: 32px 0;
  }

  .main-nav__user-panel-list {
    margin-left: 90px;
  }
}
