.page-footer {
  background-color: $gray--light;
  @include container();

  &--divider {
    display: table;
    margin: 0 auto;
    width: 80%;
    height: 1px;

    content: "";
    background-color: $gray;
  }
}
