.page-header {
  width: 100%;
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 30px;
}

.page-header__logo {
  flex-grow: 1;
}

.page-header__title {
  width: 100%;
  margin: 0;

  text-align: center;
  font-size: 27px;
  font-weight: 700;

  &--image {
    min-height: 373px;
    padding: 125px 30px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--gray {
    min-height: 175px;
    margin-bottom: 30px;
    padding: 75px 30px;
    background-color: $gray;
  }
}
