.page-header__wrapper {
  @include container();
}

.page-header__top {
  padding: 20px 0;

  &--devider::after {
    position: absolute;
    top: 83px;
    left: 0;

    width: 100%;
    height: 1px;

    content: "";
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  }
}

.page-header__title {
  min-width: 320px;
  width: 100%;
  margin: 0;

  text-align: center;
  font-size: 27px;
  font-weight: 700;
  line-height: 31px;

  &--image {
    min-height: 283px;
    padding: 69px 15px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.3);

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 768px 746px;
    }
  }

  &--gray {
    min-height: 175px;
    margin-bottom: 23px;
    padding: 69px 30px;
    background-color: $gray;
  }
}

.page-header__delivery {
  display: none;

  color: $gray--dark;
  font-size: 15px;
  font-weight: 400;
}

.main-nav__desktop-nav-list {
  display: none;
}

.page-header__logo {
  display: flex;
  width: 100%;

  align-items: center;
}

.page-header__logo-link {
  margin-left: auto;
  margin-right: auto;
  padding-left: 21px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-widths) {

  .page-header {
    margin-bottom: 0;
  }

  .page-header__top {
    &--devider::after {
      top: 88px;
    }
  }

  .page-header__title {
    min-width: 768px;

    &--image {
      min-height: 585px;
      padding: 112px 135px;
      font-size: 43px;
      line-height: 50px;
      background-image: url("../img/hero-desktop@1x.jpg");
      background-position: 50% 26%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-desktop@2x.jpg");
        background-size: 1250px 746px;
      }
    }

    &--gray {
      min-height: 214px;
      padding-top: 95px;
      padding-bottom: 80px;
      margin-top: -41px;

      font-size: 43px;
      line-height: 50px;
    }
  }

  .page-header__delivery {
    display: block;
  }

  .page-header__top {
    padding: 0;

    &--divider::after {
      top: 88px;
    }
  }

  .page-header__logo {
    width: auto;
  }

  .page-header__logo-link {
    padding-left: 0;
  }

  .page-header__delivery {
    order: 2;
    margin-top: 17px;
  }
}

@media (min-width: $desktop-widths) {

  .page-header__title {
    min-width: 1200px;
    min-height: 255px;

    font-size: 53px;
    line-height: 57px;

    &--gray {
      margin-top: -59px;
    }

    &--image {
      height: 568px;
      padding: 94px 300px;
      font-size: 53px;
      line-height: 57px;

      background-size: 1250px 746px;
      background-position: 50% 34%;
    }
  }

  .page-header__delivery {
    margin-top: 0px;
  }
}
