.radios {
  position: relative;
  margin-bottom: 45px;

  @include container-narrow();
}

.radios__title {
  margin-bottom: 23px;
}

@media (min-width: $tablet-widths) {

  .radios {
    padding-left: 218px;
    margin-bottom: 65px;
  }

  .radios__title {
    top: 17px;

    margin: 0;
  }
}
