.radios {
  position: relative;
  margin-bottom: 45px;

  @include container-narrow();
}

.radios__title {
  margin-bottom: 23px;
}

@media (min-width: $tablet-widths) {

  .radios {
    padding-left: 218px;
    margin-bottom: 65px;
  }

  .radios__title {
    top: 18px;
    left: 51px;

    margin: 0;
  }
}

@media (min-width: $desktop-widths) {
  .radios {
    padding-left: 176px;
    margin-bottom: 65px;
    margin-bottom: 64px;
  }

  .radios__title {
    top: 13px;
    left: 64px;
  }
}
