.reviews {
  position: relative;

  @include container-narrow();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 95px;
}

.reviews__title {
  margin: 0;

  @media (min-width: $tablet-widths) {
    order: -2;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-widths) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__item {
  margin: 35px 0;
  color: $gray--dark;
  font-weight: 400;
  line-height: 30px;
}

.reviews__text {
  width: 100%;
  margin: 0 0 40px;
}

.reviews__author-name {
  display: block;

  font-size: 17px;
  color: $black;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
}

.reviews__author-id {
  color: $gray--dark;
  font-weight: 400;
  line-height: 30px;
}

.reviews__write {
  @media (min-width: $tablet-widths) {
    order: -1;

    width: 175px;
    margin: 0;
  }
}

.reviews__btn-box {
  padding: 0;
  margin-bottom: 40px;

  font-size: 0;

  @media (min-width: $tablet-widths) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.reviews__btn {
  width: 130px;
  height: 52px;
  border: 0;
  border: 1px solid $gray;

  color: inherit;
  font-size: inherit;

  overflow: visible;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--prev {
    background: url("../img/icon-left-arrow.svg") 50% 50% no-repeat;
  }

  &--next {
    background: url("../img/icon-right-arrow.svg") 50% 50% no-repeat;
  }
}
