.social-links {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.social-links__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 40px;
  }

  font-size: 0;
}

.social-links__icon {
  &:hover {
    fill: $color-main;
  }
  &:active {
    opacity: 0.3;
  }
}
