.text-input {
  height: 44px;
  width: 100%;
  border: none;
  border-bottom: 2px solid $black;
  margin: 0 0 15px;

  color: $black;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  &::placeholder {
    padding-bottom: 10px;

    color: $gray--dark;
    font-size: 17px;
    line-height: 18px;

    opacity: 0.3;
  }

  &--phone {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: right 3px;
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: right 3px;
  }
}

@media (min-width: $tablet-widths) {
  .text-input {
    background-color: transparent;
  }
}
