.text-form {
  margin-bottom: 40px;

  color: $black;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

@media (min-width: $tablet-widths) {
  .text-form__label {
    padding-right: 40px;
  }
}
