$black: #000000;
$white: #ffffff;

$gray--click:         #7c7c7c; // Цвет шрифта, активной кнопки
$gray--lighten:       #f9f9f9;
$gray--light:         #f2f2f2;
$gray:                #ececec;
$gray--dark:          #444444;
$gray--darken:        #231F20; // Цвет иконки

$color-main--light:   #59d5bc; // При наведении/нажатии в шапке
$color-main:          #63d1bb;
$color-main--dark:    #62d1ba; // Радио
$color-main--darken:  #56c3b2; // Темная
$color-main--darkest: #46c1ae; // Темная при наведении/нажатии

$tablet-widths:       768px;
$desktop-widths:      1200px;
$mobile-padding:      30px;
$tablet-padding:      50px;
$desktop-padding:     50px;
$retina-dpi:          144dpi;
$retina-dppx:         1.5dppx;
