.week-deal {
  margin: 35px 30px 75px;
}

.week-deal__title {
  font-size: 25px;
  font-weight: 700;
}

.week-deal__title-desc {
  color: $color-main;
  font-weight: 700;
  text-transform: uppercase;
}

.week-deal__desc {
  margin: 30px 0;

  color: $gray--dark;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.week-deal__details-list {
  padding: 0;
  margin: 30px 0 40px;

  color: $gray--dark;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;

  list-style-type: none;
}

.week-deal__details-item {
  margin: 10px 0;
}

.week-deal__item-property {
  display: inline-block;
  width: 90px;
}

.week-deal__price {
  margin: 30px 0;

  text-align: center;
  color: $gray--dark;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.week-deal__order {
  margin: 30px 0;
}
