.week-deal {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include container-narrow();
  margin-bottom: 68px;
}

.week-deal__title {
  margin: 0 0 5px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.week-deal__title-desc {
  margin-bottom: 22px;

  color: $color-main;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.week-deal__desc {
  margin-bottom: 23px;
}

.week-deal__text {
  margin: 0;
  margin-bottom: 23px;

  color: $gray--dark;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.week-deal__details-list {
  padding: 0;
  margin: 0;

  color: $gray--dark;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;

  list-style-type: none;
}

.week-deal__details-item {
  margin: 12px 0;
}

.week-deal__item-property {
  display: inline-block;
  width: 94px;
}

.week-deal__price {
  margin-bottom: 25px;

  text-align: center;
  color: $gray--dark;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.week-deal__img {
  margin-bottom: 25px;
}

@media (min-width: $tablet-widths) {

  .week-deal {
    margin-bottom: 118px;
  }

  .week-deal__title {
    margin-bottom: 49px;

    font-size: 43px;
    line-height: 50px;
  }

  .week-deal__title-desc {
    position: absolute;
    top: 9px;
    right: 63px;

    width: 100px;
    margin: 0;

    text-align: center;
  }

  .week-deal__desc {
    width: 285px;
    margin-bottom: 47px;
  }

  .week-deal__text {
    margin-bottom: 41px;

    font-size: 17px;
    line-height: 30px;
  }

  .week-deal__details-item {
    width: 290px;
    border-bottom: 1px solid #ececec;
  }

  .week-deal__order-box {
    width: 100%;
  }

  .week-deal__price {
    width: 259px;
    margin: 0 14px 32px;

    font-size: 19px;
    line-height: 27px;
  }

  .week-deal__img {
    position: absolute;
    top: 100px;
    right: 50px;
  }

  .week-deal__order {
    width: 290px;
    margin: 0;
  }
}

@media (min-width: $desktop-widths) {

  .week-deal {
    margin-bottom: 154px;
    padding-top: 60px;
  }

  .week-deal__title {
    margin-bottom: 50px;

    font-size: 53px;
    line-height: 57px;
  }

  .week-deal__title-desc {
    position: absolute;
    top: 72px;
    left: 33px;
  }

  .week-deal__desc {
    margin-bottom: 102px;
  }

  .week-deal__text {
    margin-bottom: 52px;
  }

  .week-deal__details-list {
  }

  .week-deal__img {
    position: absolute;
    top: 6px;
    right: 0;
  }
}
